{
  "sources": [
    {
      "name": "CustomEndpoint",
      "type": "CustomEndpoint",
			"properties": {}
    }
  ],
  "destinations": [
    {
      "name": "Lakehouse",
      "type": "Lakehouse",
      "properties": {
			"workspaceId": "{{ .LakehouseWorkspaceID }}",
        "itemId": "{{ .LakehouseID }}",
        "schema": "",
        "deltaTable": "streamTable",
        "inputSerialization": {
          "type": "Json",
          "properties": {
            "encoding": "UTF8"
          }
        }
      },
      "inputNodes": [
        {
          "name": "stream"
        }
      ],
      "inputSchemas": []
    }
  ],
  "streams": [
    {
      "name": "stream",
      "type": "DefaultStream",
      "properties": {},
      "inputNodes": [
        {
          "name": "CustomEndpoint"
        }
      ]
    }
  ],
  "operators": [],
  "compatibilityLevel": "1.0"
}
