__pycache__
*.dll
*.exe
.DS_Store
bin/
dist/
build/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
coverage.xml
coverage.txt
coverage.out
coverage.html
coverage.md
coverage.json
.task/
site/
website/vendor
.hugo_build.lock
.dev/
_dev/
__debug*
testresults.xml
testresults.json
golangci-report.xml
.wellknown.json
.wellknown.*.json
changie.md
.lycheecache
*.env
.vs/

# Terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
*.lock.hcl
*.lock.info
*.tfrc

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf

# Ignore default go build output
*.key
*.pub
*.pem
*.crt
*.pfx
*.p12
*.env
