{
  "$schema": "https://developer.microsoft.com/json-schemas/fabric/item/mirroredAzureDatabricksCatalog/definition/mirroredAzureDatabricksCatalogDefinition/1.0.0/schema.json",
  "autoSync": "Enabled",
  "catalogName": "{{.CATALOG_NAME}}",
  "databricksWorkspaceConnectionId": "{{.DATABRICKS_WORKSPACE_CONNECTION_ID}}",
  "mirroringMode": "{{.MIRRORING_MODE}}"
}
