CREATE TABLE [dbo].[TestTable] (
    [Id]               INT           NOT NULL,
    [TestFirstColumn]  NVARCHAR (50) NOT NULL,
    [TestSecondColumn] NVARCHAR (50) NOT NULL,
    PRIMARY KEY CLUSTERED ([Id] ASC)
);


GO

