{
  "properties": {
    "source": {
      "type": "GenericMirror"
    },
    "target": {
      "type": "MountedRelationalDatabase",
      "typeProperties": {
        "format": "Delta",
        "defaultSchema": "{{ .DEFAULT_SCHEMA }}"
      }
    }
  }
}
