
// Copyright (c) Microsoft Corporation
// SPDX-License-Identifier: MPL-2.0

package {{.Package}}

import (
	"context"

	"github.com/hashicorp/terraform-plugin-framework/datasource/schema"
	supertypes "github.com/orange-cloudavenue/terraform-plugin-framework-supertypes"

	"github.com/microsoft/terraform-provider-fabric/internal/framework/customtypes"
)

func getDataSource{{.TypeInfo}}PropertiesAttributes() map[string]schema.Attribute {
	return map[string]schema.Attribute{
		"TBD": schema.StringAttribute{
			MarkdownDescription: "TBD",
			Computed:            true,
		},
	}
}
