{
  "$id": "https://developer.microsoft.com/json-schemas/fabric/item/anomalyDetector/definition/1.0.0/schema.json",
  "$schema": "https://json-schema.org/draft-07/schema#",
  "univariateConfigurations": [
    {
      "configurationName": "example detector",
      "fabricDataSource": {
        "dataSourceType": "KqlDb",
        "tableName": "ExampleTable",
        "timestampColumnName": "Timestamp",
        "instanceIDColumnName": "InstanceId",
        "attributeColumnName": "Attribute",
        "workspaceId": "{{.WORKSPACE_ID}}",
        "artifactId": "{{.KQLDB_ID}}"
      },
      "modelOption": {
        "modelSelection": {
          "modelAlgorithm": "MEDIAN_DISTANCE_SCORE_ADVANCED",
          "modelVersion": "1.0",
          "modelName": "Seasonal Outlier Finder",
          "modelDescription": "Adds awareness of recurring patterns like monthly billing cycles or seasonal demand to help spot true outliers in datasets like financial or operational data."
        },
        "parameters": [
          {
            "$type": "String",
            "value": "daily",
            "name": "Granularity"
          },
          {
            "$type": "String",
            "value": "auto",
            "name": "ImputeMode"
          },
          {
            "$type": "Float",
            "value": 0.9,
            "name": "MaxAnomalyRatio"
          },
          {
            "$type": "Integer",
            "value": 3,
            "name": "Periodicity"
          },
          {
            "$type": "Integer",
            "value": 0,
            "name": "Regularization"
          },
          {
            "$type": "Integer",
            "value": 45,
            "name": "Sensitivity"
          }
        ]
      },
      "detectionSettings": {
        "confidence": 75,
        "autoPublish": true
      }
    }
  ]
}
