# Fabric notebook source

# METADATA ********************

# META {
# META   "kernel_info": {
# META     "name": "synapse_r"
# META   },
# META   "dependencies": {}
# META }

# CELL ********************

# Welcome to your new notebook
# Type here in the cell editor to add code!

cat("Hello from Fabric notebook\n")


# METADATA ********************

# META {
# META   "language": "r",
# META   "language_group": "synapse_r"
# META }
