{
  "$schema": "https://developer.microsoft.com/json-schemas/fabric/item/operationsAgents/definition/1.0.0/schema.json",
  "configuration": {
    "goals": "",
    "instructions": "",
    "dataSources": {},
    "actions": {}
  },
  "shouldRun": false
}
