{
  "configuration": {
    "goals": "E2E test for OperationsAgent resource and datasource",
    "instructions": "Used for creation with definition test, should ignore.",
    "dataSources": {},
    "actions": {}
  },
  "playbook": {},
  "shouldRun": false
}
