// Copyright (c) Microsoft Corporation
// SPDX-License-Identifier: MPL-2.0

package {{.Package}}_test

import (
	"github.com/microsoft/terraform-provider-fabric/internal/services/{{.Package}}"
)

var itemTypeInfo = {{.Package}}.ItemTypeInfo

const fabricItemType = {{.Package}}.FabricItemType
