// Copyright (c) Microsoft Corporation
// SPDX-License-Identifier: MPL-2.0

package {{.Package}}

import (
	"github.com/hashicorp/terraform-plugin-framework-validators/mapvalidator"
	"github.com/hashicorp/terraform-plugin-framework-validators/stringvalidator"
	"github.com/hashicorp/terraform-plugin-framework/resource"
	"github.com/hashicorp/terraform-plugin-framework/schema/validator"

	"github.com/microsoft/terraform-provider-fabric/internal/pkg/fabricitem"
)

func NewResource{{.TypeInfo}}() resource.Resource {
	config := fabricitem.ResourceFabricItemDefinition{
		TypeInfo:              ItemTypeInfo,
		FabricItemType:        FabricItemType,
		NameRenameAllowed:     {{.RenameAllowed}},
		DisplayNameMaxLength:  {{.DisplayNameMax}},
		DescriptionMaxLength:  {{.DescriptionMax}},
		DefinitionPathDocsURL: ItemDefinitionPathDocsURL,
		DefinitionPathKeysValidator: []validator.Map{
			mapvalidator.SizeAtMost(len(itemDefinitionFormats)),
			mapvalidator.KeysAre(stringvalidator.OneOf(fabricitem.GetDefinitionFormatPaths(itemDefinitionFormats, fabricitem.DefinitionFormatDefault)...)),
		},
		DefinitionRequired:    "<TBD>",
		DefinitionEmpty:       ItemDefinitionEmpty,
		DefinitionFormats:     itemDefinitionFormats,
	}

	return fabricitem.NewResourceFabricItemDefinition(config)
}
