[
  {
		"name": "TestShortcut",
		"path": "/Tables/dbo",
		"target": {
			"type": "OneLake",
			"oneLake": {
				"path": "Tables/dbo/publicholidays",
				"itemId": "00000000-0000-0000-0000-000000000000",
				"workspaceId": "00000000-0000-0000-0000-000000000000"
			}
    }
  }
]
