---
page_title: "Creating an App Registration for the Service Principal context (SPN)"
subcategory: "Authentication"
description: |-

---

# Creating an App Registration for the Service Principal context (SPN)

---

## Create an App Registration

### Using Azure Portal

1. Sign in to the [Microsoft Entra admin center](https://entra.microsoft.com).
1. Browse to **Identity** > **Applications** > **App registrations** and select **New registration**.
1. Enter a display Name for your application.
1. Don't enter anything for **Redirect URI (optional)**

For more details and advanced scenarios, please follow this [guide](https://learn.microsoft.com/entra/identity-platform/quickstart-register-app#register-an-application).

### Using Azure CLI

Run the following commands to create an App Registration with Service Principal using [Azure CLI](https://learn.microsoft.com/cli/azure/):

{{ codefile "shell" "examples/guides/auth_app_reg_spn/app_reg.sh" }}

### Using Entra PowerShell

Run the following commands to create an App Registration with Service Principal using [Entra PowerShell](https://learn.microsoft.com/powershell/entra-powershell/):

{{ codefile "powershell" "examples/guides/auth_app_reg_spn/app_reg.ps1" }}

## Configure Microsoft Fabric to allow Service Principals

1. Sign in to the [Microsoft Fabric admin portal](https://app.fabric.microsoft.com/admin-portal).
1. Browse to **Tenant settings** > **Developer settings** > **Service principals can use Fabric APIs** and check **Enable**.
1. Optionally apply security restrictions to **The entire organization** or **Specific security groups**
