{
	"properties": {
		"type": "Airflow",
		"typeProperties": {
			"airflowProperties": {
				"airflowVersion": "2.6.3",
				"pythonVersion": "3.8",
				"environmentVariables": {},
				"airflowConfigurationOverrides": "{{.AIRFLOW_CONFIGURATION_OVERRIDES}}",
				"airflowRequirements": [],
				"enableAADIntegration": true,
				"enableTriggerers": false
			},
			"computeProperties": {
				"computePool": "StarterPool",
				"computeSize": "Small",
				"extraNodes": 0,
				"enableAvailabilityZones": true,
				"enableAutoscale": false
			}
		}
	}
}
