{
  "executableFile": "main.py",
  "defaultLakehouseArtifactId": {{ .DefaultLakehouseID | quote | default "null" }},
  "mainClass": null,
  "additionalLakehouseIds": [{{ .AdditionalLakehouseIDs | default "" }}],
  "retryPolicy": null,
  "commandLineArguments": null,
  "additionalLibraryUris": ["lib.py"],
  "language": null,
  "environmentArtifactId": null
}
