{
  "executableFile": null,
  "defaultLakehouseArtifactId": {{ .DefaultLakehouseID | quote | default "null" }},
  "mainClass": null,
  "additionalLakehouseIds": [{{ .AdditionalLakehouseIDs | default "" }}],
  "retryPolicy": null,
  "commandLineArguments": null,
  "additionalLibraryUris": null,
  "language": null,
  "environmentArtifactId": null
}
